
  <div class="form-group">
    <label for="description">Give a desctiption or rate</label>
    <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
  </div>
  <div class="form-group mb-2">
    <label for="markdown">What is your progress this day?</label>
    <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
  </div>
  
  <a href="/" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>